@charset "UTF-8";
/*토글버튼 css 부분 퍼옴*/
.toggleSwitch {
  width: 2.7vw;
  margin: 5% 0% 0% 30%;
  height: 2vh;
  display: block;
  position: relative;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 0 1rem 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 0.6vw;
  height: 0.6vw;
  position: absolute;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  border-radius: 50%;
  background: rgb(25, 206, 96);
}

/* 체크박스가 체크되면 변경 이벤트 */
#toggle:checked ~ .toggleSwitch {
  background: rgb(25, 206, 96);
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 0.8vw);
  background: #fff;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.2s ease-in;
}

/* 토글 버튼 부분 퍼옴 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

input:focus {
  outline: none;
}

body {
  background-color: rgba(25, 206, 96, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: nomal;
}
body > aside {
  width: 5vw;
  height: 100vh;
  background-color: rgb(25, 206, 96);
  display: flex;
  flex-direction: row;
  align-items: nomal;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
body > aside > div {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
body > aside > div > div {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
body > aside > div > div > div {
  width: 3.202vh;
  height: 3.202vh;
  background-color: rgb(255, 247, 225);
  display: flex;
}
body > main {
  width: 95vw;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
body > main > header {
  width: 50%;
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
body > main > header > div:nth-of-type(1) {
  width: 30%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body > main > header > div:nth-of-type(1) > div:nth-of-type(1) {
  color: rgb(25, 206, 96);
  font-size: 1.8rem;
  font-weight: 900;
}
body > main > header > div:nth-of-type(1) > div:nth-of-type(2) {
  width: 30%;
  height: 30%;
  color: rgb(247, 249, 250);
  background-color: rgb(25, 206, 96);
  border-radius: 12px;
  text-align: center;
}
body > main > header > div:nth-of-type(1) > div:nth-of-type(2):hover {
  background-color: white;
  color: black;
}
body > main > header > div:nth-of-type(2) {
  width: 52%;
  height: 8%;
  display: flex;
}
body > main > header > div:nth-of-type(2) > div {
  width: 50%;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
body > main > header > div:nth-of-type(2) > div:nth-of-type(1) {
  background-color: rgb(25, 206, 96);
  border-radius: 12px 0px 0px 0px;
  color: white;
}
body > main > header > div:nth-of-type(2) > div:nth-of-type(2) {
  background-color: rgb(218, 225, 230);
  border-radius: 0px 12px 0px 0px;
}
body > main > header > div:nth-of-type(3) {
  width: 52%;
  height: 35%;
  background-color: white;
  box-shadow: 14px 12px 24px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}
body > main > header > div:nth-of-type(3) > div:nth-of-type(1) {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
body > main > header > div:nth-of-type(3) > div:nth-of-type(1) > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
body > main > header > div:nth-of-type(3) > div:nth-of-type(1) > div > .infobar {
  width: 22vw;
  height: 6vh;
  background-color: rgb(218, 225, 230);
  border-radius: 5px;
  border: 0px solid;
  padding: 0% 0% 0% 5%;
  font-size: 1rem;
}
body > main > header > div:nth-of-type(3) > div:nth-of-type(1) > div > .infobar::-moz-placeholder {
  color: white;
}
body > main > header > div:nth-of-type(3) > div:nth-of-type(1) > div > .infobar:-ms-input-placeholder {
  color: white;
}
body > main > header > div:nth-of-type(3) > div:nth-of-type(1) > div > .infobar::placeholder {
  color: white;
}
body > main > header > div:nth-of-type(3) > div:nth-of-type(1) > div > span {
  width: 5vw;
  height: 1vh;
  color: rgb(25, 206, 96);
  text-align: end;
  font-size: 10px;
  cursor: pointer;
}
body > main > header > div:nth-of-type(3) > div:nth-of-type(2) {
  width: 23vw;
  height: 28%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
body > main > header > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(1) {
  width: 55%;
  height: 50%;
  background-color: rgb(25, 206, 96);
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
body > main > header > div:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(2) {
  width: 9vw;
  height: 6.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}
body > main > header > nav {
  width: 24.8vw;
  height: 19vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-content: center;
}
body > main > header > nav > div {
  width: 24.8vw;
  height: 28%;
}
body > main > header > nav > div:nth-of-type(1) {
  background-color: rgb(25, 206, 96);
  border-radius: 8px;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
body > main > header > nav > div:nth-of-type(1) > div:nth-of-type(2) {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
body > main > header > nav > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) {
  width: 1vw;
  height: 1vw;
  background: white;
}
body > main > header > nav > div:nth-of-type(1) > div:nth-of-type(3) {
  width: 1vw;
  height: 5.7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
}
body > main > header > nav > div:nth-of-type(1) > div:nth-of-type(3) > div {
  background-color: white;
  height: 0.5vh;
  border-radius: 8px;
}
body > main > header > nav > div:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(1) {
  width: 2vw;
}
body > main > header > nav > div:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(2) {
  width: 2.9vw;
}
body > main > header > nav > div:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(3) {
  width: 2.3vw;
}
body > main > header > nav > div:nth-of-type(2) {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
body > main > header > nav > div:nth-of-type(2) > div:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
  height: 5.1vh;
  width: 1.3vw;
}
body > main > header > nav > div:nth-of-type(2) > div:nth-of-type(3) > div {
  background-color: rgb(25, 206, 96);
  height: 0.6vh;
  border-radius: 8px;
}
body > main > header > nav > div:nth-of-type(2) > div:nth-of-type(3) > div:nth-of-type(1) {
  width: 2.3vw;
}
body > main > header > nav > div:nth-of-type(2) > div:nth-of-type(3) > div:nth-of-type(2) {
  width: 2vw;
}
body > main > header > nav > div:nth-of-type(2) > div:nth-of-type(3) > div:nth-of-type(3) {
  width: 2.3vw;
}
body > main > section {
  width: 43vw;
  height: 88%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
body > main > section > div {
  width: 30vw;
  height: 62vh;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 7px 8px 0px grey;
  z-index: 1;
}
body > main > section > div > div:nth-of-type(1) {
  width: 28vw;
  font-size: 1.8rem;
  font-weight: bold;
}
body > main > section > div > div:nth-of-type(2) {
  width: 27.6vw;
  height: 26vh;
  background-color: rgb(25, 206, 96);
  font-size: 5.2rem;
  color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
body > main > section > div > div:nth-of-type(3) {
  width: 9vw;
  height: 3vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
}
body > main > section > div > div:nth-of-type(3) > div {
  width: 0.7vw;
  height: 0.7vw;
  background-color: rgb(218, 225, 230);
}
body > main > section > div > div:nth-of-type(3) > div:nth-of-type(1) {
  background-color: rgb(25, 206, 96);
}
body > main > section > div > div:nth-of-type(4) {
  width: 26vw;
  height: 4vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
}
body > main > section > div > div:nth-of-type(4) > div:nth-of-type(1) {
  width: 7vw;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
body > main > section > div > div:nth-of-type(4) > div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 4vh;
}
body > main > section > div > div:nth-of-type(4) > div:nth-of-type(3) {
  display: flex;
  width: 14vw;
  height: 4vh;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
body > main > section > div > div:nth-of-type(5) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
body > main > section > div > div:nth-of-type(5) > div {
  width: 24vw;
}
body > main > section > footer {
  width: 30vw;
  height: 15vh;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body > main > section > footer > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
body > main > section > footer > div > div:nth-of-type(1) {
  font-size: 1rem;
  font-weight: bold;
  height: 10.2vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
}
body > main > section > footer > div > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  width: 2vw;
  height: 11vh;
}
body > main > section > footer > div > div:nth-of-type(2) > div {
  width: 0.4vw;
  height: 2.3vh;
  background-color: rgb(25, 206, 96);
  border-radius: 10px;
}
body > main > section > footer > div > div:nth-of-type(3) {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  width: auto;
  height: 8.7vh;
}
body > main > section > footer > div > div:nth-of-type(4) {
  font-size: 0.7rem;
  width: 6vw;
  height: 9.1vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
body > main > section > footer > div > div:nth-of-type(4) > div:nth-of-type(3) {
  width: 5vw;
  height: 3vh;
  background-color: rgb(25, 206, 96);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
body > main > section > footer > div:nth-of-type(5) {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: auto;
  height: 8.2vh;
}

/*iPhone*/
@media (max-width: 768px) {
  body {
    width: 100%;
    height: 100vh;
    background-color: white;
  }
  body > aside {
    width: 10vw;
  }
  body > aside > div {
    height: 92%;
  }
  body > aside > div > div {
    height: 100%;
  }
  body > aside > div > div > div {
    border-radius: 50px;
  }
  body > main {
    width: 95vw;
    height: 94vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
/*iPad*//*# sourceMappingURL=index.css.map */